/* ======================= Tab Colors */

#tabs {
  overflow: hidden;
  padding-top: 16px;
}

#tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#tabs a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: none;
  font-weight: bold;
  transition: 0.2s;
}

#tabs a:hover {
  color: #000000;
  background-color: #FFFFFF;
  transition: 0.2s;
}

#tabs li {
  border: 1px solid white;
  color: inherit;
  background-color: inherit;
  padding: 8px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

#tabs li:hover {
  background-color: inherit;
  color: inherit;
}